#root{
  min-height: 100vh;
}
.hero-section{
  display: flex;
  min-height: calc(100vh - 70px);
  width: 100%;
  background-color: #ff00001A;
  backdrop-filter: blur(5px);
}
.left-hero{
  width: 50%;
  display: flex;
  padding: 3rem;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 900px) {
    .hero-section{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
}